body {
  font-family: "Inter", sans-serif;
  margin: 0; 
  width: 100%;
  min-height: 100vh;
  background: #121212;
  overflow-x: hidden; 
}


.titulo-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}




.titulo-logo h1 {
 color: #D4AF37;
  font-size: 1.5rem; 
  margin: 0;
  font-weight: bold;
}


.ContainerEstoque {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.cardEstoque {
    width: 80%;
  max-width: 1000px;
  background: #1E1E1E;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 0 15px #000;
   
  

}

.campo input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
    cursor: pointer;
}





.cardEstoque h2 {
    text-align: center;
    color: #D4AF37;
    font-size: 30px;
    margin-bottom: 40px;
}


.formulario {
    width: 100%;
    max-width: 700px;  
    margin: 0 auto 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.campo input, .campo select {
    width: 100%;
    height: 48px;
    padding: 0 15px;
    background: #252525;
    border: 1px solid #444;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}


.tabelaEstoque {
    width: 100%;
    border-collapse: collapse;
}

.tabelaEstoque th {
    text-align: left;
    color: #D4AF37;
    padding: 15px 10px;
    border-bottom: 2px solid #333;
    font-size: 14px;
    text-transform: uppercase;
}

.tabelaEstoque td {
    padding: 20px 10px;
    font-size: 16px;
    color: #bdbdbd;
    border-bottom: 1px solid #2d2d2d;
}

.tabelaEstoque a {
    text-decoration: none;
    color: #888;
}


.tabelaEstoque td.verde { 
    color: #00ff00 !important; 
    font-weight: bold; 
}

.tabelaEstoque td.vermelho { 
    color: #ff3c3c !important; 
    font-weight: bold; 
}

.tabelaEstoque td.amarelo { 
    color: #ffd000 !important; 
    font-weight: bold; 
}


.acoes{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.acoes span {
  font-size: 12px;
  margin-bottom: 5px;
 
}

button {
  background: transparent;
  border: 2px solid #D4AF37;
  color: #D4AF37;
  padding: 10px 35px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
width: 290px;
height: 45px;
justify-content: center;
align-items: center;
}
.titulobutton{
font-size: 19px;
}

