body{

    font-family: "Inter", sans-serif;
    width: 100%;
    min-height: 100vh;
    background: #121212;
    margin: 0;
    padding: 0;
    color: white;


}

header{    
display: flex;
width: 100%;
height: 80px;
padding: 10 20px;
margin: none;
align-items: center;
border: 1px solid #333;
background: #1E1E1E;

}

.titulo-logo {
    display: flex;
    align-items: center;
    gap: 0.3rem; 

}


h1{
    color: #D4AF37;
    font-size: 30px;

}

img{

   width: 165px;
    height: 105px;


}

.logo { 
    height: 70px !important; 
    width: auto !important; 
    object-fit: contain;
    flex-shrink: 0;
}

#conteudo{

  align-items: center;
}

#Selecionar{
    display: flex;
    margin-left: 1150px;
    background: transparent;
    font-size: 16px;
    color: #D4AF37;
    border: none;
}

#Selecionar option{
    background-color: #333;
}