body {
    font-family: "Inter", sans-serif;
    margin: 0; 
    width: 100%;
    min-height: 100vh;
    background: #121212;
    overflow-x: hidden; 
}

header {    
    display: flex;
    width: 100%; 
    height: 80px; 
    padding: 0 20px; 
    align-items: center;
    border-bottom: 1px solid #333;
    background: #1E1E1E;
    box-sizing: border-box; 
}

.cabecalho {
    display: flex;
    justify-content: space-between; 
    padding: 10px 0;
    font-weight: bold;
    color: #fff; 
}

.cabecalho span {
    flex: 1; 
    text-align: left;
}

.titulo-logo {
    display: flex;
    align-items: center;
    gap: 15px; 
}

h1 {
    color: #D4AF37;
    font-size: 1.5rem; 
    margin: 0;
}

img {
    width: auto; 
    height: 60px; 
}

#conteudo {
    padding: 20px;
    color: white;
}