.header {
   display: flex;
width: 1312px;
height: 50px;
padding: 31px 978px 30px 103px;
align-items: center;
border: 1px solid #333;
background: #1E1E1E;

}

.titulo-logo{
    color: #D4AF37;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
img{
    width: 140px;
height: 90px;


}

h1{
    color: #D4AF37;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #121212;
    height: 982px;
    width: 1512px;
}