body {
  font-family: "Inter", sans-serif;
  margin: 0; 
  width: 100%;
  min-height: 100vh;
  background: #121212;
  overflow-x: hidden; 
}




.titulo-logo {
    display: flex;
    align-items: center;
    gap: 0.3rem; 
    font-weight: bold;

}


h1{
    color: #D4AF37;
  font-size: 1.5rem; 
  margin: 0;
  font-weight: bold;
}





#conteudo{

  align-items: center;
}

form{
    width: 1316px;
    height: 699px;
    display: flex;
    border: 3px solid #333;
    background: #1E1E1E;
 
 
   
    justify-content: center;    
    align-items: center; 
   
}


.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card {
  width: 80%;
  max-width: 1000px;
  background: #1E1E1E;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 0 15px #000;
  
}


.card h2 {
  text-align: center;
  color: #D4AF37;
   font-size: 30px;
    margin-bottom: 40px;
}


table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 25px;
}


tr {
  background: transparent;
}


td {
  padding: 10px;
  color: #fff;
}

td:nth-child(1) { width: 60px; }
td:nth-child(2) { width: 30%; }
td:nth-child(3) { width: 20%; }
td:nth-child(4) { width: 30%; }
td:nth-child(5) { text-align: right; }


.imgbloco {
  width: 45px;
  height: 45px;
  background: #ccc;
}


.verde { color: #00ff66; }
.vermelho { color: red; }
.amarelo { color: yellow; }


.preco {
  text-align: right;
}


.acoes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
   color: #fff;
}

.acoes span {
  font-size: 12px;
  margin-bottom: 5px;
 
}

button {
  background: transparent;
  border: 2px solid #D4AF37;
  color: #D4AF37;
  padding: 10px 35px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
width: 307px;
height: 55px;
justify-content: center;
align-items: center;
}
.titulobutton{
font-size: 20px;
}
nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #D4AF37;
} 




#message-box {
    padding: 1rem;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    display: none;
}
.msg-error { background-color: #fee2e2; color: var(--error-color); border: 1px solid #F41C40; }
.msg-success { background-color: #d1fae5; color: var(--success-color); border: 1px solid #34d399; }
