form {
  width: 1316px;
  min-height: 699px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #333;
  background: #1E1E1E;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.card {
  width: 1100px;
  min-height: 500px;
  background: #1E1E1E;
  border: 1px solid #3a3a3a;
  border-radius: 15px;
  padding: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.card h2 {
  text-align: center;
  color: #D4AF37;
  font-size: 24px; 
  margin-bottom: 30px;
}


.imgbloco {
  width: 60px;
  height: 60px;
  background: #ccc;
}


button:hover {
  background: #D4AF37;
  color: #1E1E1E;
}

a:hover{
  color: #ccc;
}
.titulobutton {
  font-size: 16px;
}


table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 40px;
}


td {
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
}

.coluna-botao {
  text-align: right;    
  padding-right: 20px;  
}


button {
  width: 180px;   
  height: 45px;
  background: transparent;
  border: 2px solid #D4AF37;
  color: #D4AF37;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex; 
  justify-content: center;
  align-items: center;
}

a{
  color: #D4AF37;
}