body {
  font-family: "Inter", sans-serif;
  margin: 0; 
  width: 100%;
  min-height: 100vh;
  background: #121212;
  overflow-x: hidden; 
}

header {    
  display: flex;
  width: 100%; 
  height: 80px; 
  padding: 0 20px; 
  align-items: center;
  border-bottom: 1px solid #333;
  background: #1E1E1E;
  box-sizing: border-box; 
}

.titulo-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

img {
  width: auto; 
  height: 85px; 
}

.titulo-logo h1{
    color: #D4AF37;
    font-size: 24px;
    margin: 0;
}

/* MAIN */

.containerLogin{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(100vh - 80px);
}

/* CARD */

.cardLogin{
    width: 320px;
    background: #1E1E1E;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 40px;
}

/* TITULOS */

.cardLogin h2{
    color: #d9d9d9;
    text-align: center;
    font-size: 34px;
    margin-bottom: 10px;
}

.subtitulo{
    text-align: center;
    color: #8f8f8f;
    font-size: 28px;
    margin-bottom: 35px;
}

/* FORM */

.formulario{
    display: flex;
    flex-direction: column;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.campo label{
    color: #D4AF37;
    font-size: 14px;
    margin-bottom: 8px;
}

.campo input,
.campo select{
    height: 48px;
    border-radius: 6px;
    border: 1px solid #777;
    background: transparent;
    padding: 0 12px;
    color: white;
    font-size: 15px;
    outline: none;
}

/* BOTÃO */

button{
    height: 50px;
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid #D4AF37;
    background: transparent;
    color: #D4AF37;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #D4AF37;
    color: black;
}

/* TEXTO */

.ou{
    display: block;
    text-align: center;
    color: #8f8f8f;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cadastro{
    display: block;
    text-align: center;
    color: #d9d9d9;
    font-size: 15px;
}