body {
  font-family: "Inter", sans-serif;
  margin: 0; 
  width: 100%;
  min-height: 100vh;
  background: #121212;
  overflow-x: hidden; 
}

.cabecalho {
    display: flex;
    justify-content: space-between; 
    padding: 10px 0;
   
    color: #fff; 
}

.cabecalho span {
    flex: 1; 
    text-align: left;
}

.titulo-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.titulo-logo h1 {
 color: #D4AF37;
  font-size: 1.5rem; 
  margin: 0;
  font-weight: bold;
}


#conteudo {
    padding: 20px;
    color: white;
}


  .btn-edit{
    background-color: transparent;
   color: #A0A0A0;
   border: none;
  }

  .btn-delete{
    background-color: transparent;
    color: #FF0000;
    border: none;
  }

.tabela {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    color: white;
}

/* A estrutura mágica das colunas */
.linha-grid {
    display: grid;
    /* Define 4 colunas com larguras proporcionais */
    grid-template-columns: 2fr 1.5fr 1.5fr 120px; 
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #222;
}

/* Estilo do Topo da Tabela */
.cabecalho-estilo {
    font-weight: bold;
    border-bottom: 1px solid #444;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
}

.txt-direita {
    text-align: right;
}

/* Botões e Ações */
.acoes {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.btn-edit, .btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
}

.btn-edit {
    color: #A0A0A0;
}

.btn-edit:hover {
    color: #ffffff;
}

.btn-delete {
    color: #FF0000;
}

.btn-delete:hover {
    color: #ff4d4d;
}

a{
    color: #E0E0E0;
    text-decoration: none;
}