*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#050505;
    color:white;
}

.folha-container{
    width:85%;
    max-width:1150px;
    margin:30px auto;
    border:1px solid #444;
    padding:35px;
    display:flex;
    gap:40px;
    background:#070707;
}

.formulario{
    flex:1;
}

.resultado{
    flex:1;
    padding-left:10px;
}

.linha{
    width:1px;
    background:#555;
}

.formulario h1{
    text-align:center;
    color:#bdbdbd;
    font-size:24px;
    margin-bottom:10px;
}

.formulario h2,
.resultado h2{
    text-align:center;
    color:#d4af37;
    font-size:18px;
    font-weight:400;
    margin-bottom:25px;
}

.campo{
    margin-bottom:14px;
}

.campo label{
    display:block;
    color:#d4af37;
    margin-bottom:6px;
    font-size:14px;
}

.campo input,
.campo select{
    width:100%;
    height:38px;
    background:#1b1b1b;
    border:1px solid #666;
    border-radius:5px;
    color:white;
    padding:8px 10px;
}

h3{
    text-align:center;
    color:#d4af37;
    margin:18px 0;
    font-size:18px;
    font-weight:400;
}

.desconto{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;
}

.desconto label{
    color:#d4af37;
    font-size:14px;
}

.desconto input{
    width:80px;
    height:28px;
    background:#1b1b1b;
    border:1px solid #666;
    color:white;
    border-radius:4px;
    text-align:center;
}

button{
    display:block;
    width:180px;
    height:42px;
    margin:30px auto 0;
    background:#303030;
    border:2px solid #d4af37;
    color:#d4af37;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.resultado h3{
    text-align:left;
    color:#bdbdbd;
    font-size:16px;
}

.resultado p{
    margin:12px 0;
    color:#a8a8a8;
    font-size:15px;
}

.grupo{
    margin-top:35px;
}

.grupo h4{
    color:#d4af37;
    margin-bottom:15px;
    font-size:18px;
    font-weight:400;
}

.salario-final{
    margin-top:50px;
    display:flex;
    align-items:center;
    gap:15px;
}

.salario-final span{
    color:#d4af37;
    font-size:18px;
    font-weight:bold;
}

.salario-final input{
    width:180px;
    height:36px;
    background:#1b1b1b;
    border:1px solid #666;
    color:white;
    padding:8px;
}

@media (max-width: 900px){

    .folha-container{
        flex-direction:column;
    }

    .linha{
        width:100%;
        height:1px;
    }

    .resultado{
        padding-left:0;
    }
}